[submodule "Luddite-Engine"]
	path = Luddite-Engine
	url = https://github.com/Aquaticholic/Luddite-Engine
[submodule "ThirdParty/RuntimeCompiledCPlusPlus"]
	path = ThirdParty/RuntimeCompiledCPlusPlus
	url = https://github.com/Aquaticholic/RuntimeCompiledCPlusPlus
[submodule "ThirdParty/metadesk"]
	path = ThirdParty/metadesk
	url = https://github.com/Dion-Systems/metadesk
